@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        Time Helper Test Client
    </h1>
    <p>
        This utility allows you to logon, and if necessary consent for the Time Helper Api to access your Calendar events.  Once you have logged on you can make a test call to the API.
    </p>

